@page

<div class="autopsie-page">
    <div class="autopsie-text">
        <h1>Autopsie</h1>
        <p>Vous êtes maintenant dans la salle d'autopsie. Continuez l'enquête.</p>
        <a href="/Salle1" class="start-btn">Retour à la scène de crime</a>
    </div>
</div>
