@page


<div class="home">

    <p>Un meurtre a été commis dans le manoir...</p>
    <p>Explore les pièces et trouve le coupable.</p>

    <a href="/Salle1" class="hotspot-bouton1"></a>
    <a href="/Regles" class="hotspot-bouton2"></a>
</div>



