@page

<div class="salle1">
    <div class="salle1-text">
        <p>Oh vous voilà enfin !</p>
        <p>Nous pouvons démarrer l'enquête, <br />la scène de crime est à vous... </p>
    </div>
    <a href="/Salle1" class="hotspot-bouton3"></a>
    <a href="/Regles" class="hotspot-bouton4"></a>
    <a href="/Regles" class="hotspot-bouton5"></a>
</div>
